

<button (click)="onClick()">
  hola
</button>

<div>
  <form id="f01" [formGroup]="formGroup">

    <label>nombre:</label>
    <input type="text" formControlName="nombre"/>

    <label>apellido:</label>
    <input type="text" formControlName="apellido"/>

    <label>edad:</label>
    <input type="text" formControlName="edad"/>

    <button (click)="enviarFormulario()">
      guardar
    </button>

    <button (click)="actualizarFormulario()">
      actualizar
    </button>

  </form>
</div>

<div style="text-align:center">
<h1>Personas</h1>

<button (click)="obtener1()">obtener</button>

</div>
<table border="1">


<tr>
<th>Id</th>
<th>nombre</th>
<th>apellido</th>
<th>edad</th>
</tr>

<tr *ngFor= "let d of envivo | async">
    <th>{{d.id}}</th>
    <th>{{d.primerNombre}}</th>
    <th>{{d.segundoNombre}}</th>
    <th>{{d.edad}}</th>
</tr>
</table>


<router-outlet></router-outlet>
