<!--<div><img src="umg.png"></div>-->

<div style="text-align:center">
  <h1>Angular Progra 3</h1>
</div><br/><br/>

<div style="text-align:center">
  <form id="f01" [formGroup]="formGroup">

    <label>Nombre:</label>
    <input type="text" formControlName="nombre"/><br/><br/>

    <label>Apellido:</label>
    <input type="text" formControlName="apellido"/><br/><br/>

    <label>Edad:</label>
    <input type="text" formControlName="edad"/><br/><br/>

    <button (click)="enviarFormulario()">
      Guardar
    </button><br/><br/>

    <button (click)="actualizarFormulario()">
      Actualizar
    </button><br/><br/>

  </form>
</div>

<div style="text-align:center">


<h1>Personas</h1>
<!--
<button (click)="obtener1()">obtener</button>
-->




<table style="margin: 0 auto;" border="1">
<tr>
<th>Id</th>
<th>nombre</th>
<th>apellido</th>
<th>edad</th>
</tr>

<tr *ngFor= "let d of envivo | async">
    <th>{{d.id}}</th>
    <th>{{d.primerNombre}}</th>
    <th>{{d.segundoNombre}}</th>
    <th>{{d.edad}}</th>
</tr>
</table>
</div>

<br/><br/>

<div style="text-align:center">
  <h1>Integrantes</h1>
</div><br/><br/>
<div>
<table style="margin: 0 auto;" border="1">
  <tr>
  <th>Nombre</th>
  <th>Carnet</th>
  </tr>
  <tr>
    <th>Ingrid Alicia Marcela Tojín Mejía </th>
    <th>3190-17-13430</th>
    </tr>
    <tr>
      <th>José Antonio Rojas Gómez</th>
      <th>3190-17-2307</th>
      </tr>
      <tr>
        <th>Jorge Eduardo Miguel Aguilar Oliva</th>
        <th>3190-17-11155</th>
        </tr>
  </table>
</div>


<router-outlet></router-outlet>
